:root {
  --font-family-headings: "Avenir", Verdana, Helvetica, Arial, Sans-serif;
  --font-family-bodytext: "American Typewriter";
  --font-family-secondary: courier, serif;
  --font-size-primary: 1em;
}
